// ======================== //
// Prefixes for class names //
// ======================== //
$prefix: "fp-";
// ========= //
// Font name //
// ========= //
$font-name: "Inter";
$font-serif: "sans-serif";
// ============ //
// Font weights //
// ============ //
$font-weight: (
    "thin": 100,
    "extralight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "blackbold": 900,
);
// ====== //
// Colors //
// ====== //
$colors: (
    "primary": #0452a5,
    "secondary": #2b777d,
    "accent": #d9f2ff,
    "black": #000000,
    "darkgray": #343434,
    "gray": #837f7f,
    "lightgray": #f7f7f7,
    "white": #ffffff,
    "card-border": #ebebeb,
    "primary-dark": #000d26,
    "light-blue": #19B2FF
);
// ========================== //
// Device breakpoints (width) //
// ========================== //
$breakpoints: (
    'sm': 425px,
    'md': 768px,
    'lg': 1280px,
    'xlg': 1440px,
);